.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: $blue;
  display: inline-flex;
  padding: 0vw 4vw;
  align-items: center;

  a {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: $white;
    text-decoration: none;
    height: 100%;
    display: inline-block;
  }

  .logo {
    width: 9.5vw;
    margin-top: 0.5vw;
  }

  .menu {
    width: 100%;
    text-align: end;

    ul {
      height: 100%;
      padding-top: 0.15vw;

      li {
        list-style-type: none;
        display: inline;
        padding-right: 36px;
      }
    }
  }

  .left {
    width: 10vw;
    display: inline-flex;

    .search {
      margin-right: 0px;
      padding-right: 36px;
    }

    .language {
      width: 100%;
      padding-top: 0.25vw;

      img {
        margin-left: 5px;
      }
    }
  }
}