{% extends "base.html" %}

{% load static %}

{% block content %}
    <section>
        <div class="gray-bg" style="padding: 5vh 0;">
            <div class="container-fluid">
                <div class="central-meta m-0 p-0">
                    <div class="messages">
                        <div class="row h-100 w-100 p-0 m-0">
                            <div class="col-5 col-sm-4 col-lg-3 conversations p-10">
                                <div class="row h-15 w-100 p-0 m-0">
                                    <h5 class="f-title m-0">Conversas</h5>
                                </div>
                                <div class="row h-85 w-100 p-0 m-0">
                                    <ul class="peoples w-100 m-0 h-100">
                                        {% for people in peoples %}
                                            <li class="h-100">
                                                <a onclick="update('{{people.username}}');" style="display: block;">
                                                    <figure>
                                                    {% if people.role == bot %}
                                                        <img src={% static 'website/img/alfred.png' %} alt="">
                                                    {% elif people.role == profissional %}
                                                        <img src="{{people.profissional.picture.url}}" alt="">
                                                    {% else %}
                                                        <img src={% static 'website/img/logo.png' %} alt="">
                                                    {% endif %}
                                                    </figure>
                                                    <div class="people-name">
                                                        {% if people.role == patient %}
                                                            <span><b>{{people.username}}</b></span>
                                                        {% else %}
                                                            <span><b>{{people.first_name}}</b></span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-7 col-sm-8 col-lg-9 message-box p-10">
                                <div class="peoples-mesg-box h-100 w-100 p-0">
                                    <div class="row p-0 m-0" style="height: 70px;">
                                        <div class="col-6 col-sm-7 col-lg-10 conversation-head">
                                            <figure>
                                                {% if you_chat_user.role == bot %}
                                                    <img src={% static 'website/img/alfred.png' %} alt="">
                                                {% elif you_chat_user.role == profissional %}
                                                    <img src="{{you_chat_user.profissional.picture.url}}" alt="">
                                                {% else %}
                                                    <img src={% static 'website/img/logo.png' %} alt="">
                                                {% endif %}
                                            </figure>
                                            {% if you_chat_user.role == patient %}
                                                <span>{{you_chat_user.username}}</span>
                                            {% else %}
                                                <span>{{you_chat_user.first_name}} {{you_chat_user.last_name}}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-6 col-sm-5 col-lg-2 conversation-head text-align-right">
                                            {% comment %} <!--Navbar-->
                                            <nav class="navbar white navbar-6 w-100">
                                                <!-- Collapsible content -->
                                                <div class="collapse" id="navbarSupportedContent12" style="position: absolute; right: 20%;">
                                                    <!-- Links -->
                                                    <ul class="navbar-nav mr-auto">
                                                        <li class="nav-item active">
                                                        <a class="nav-link" href="{% url 'finish_chat' %}">Encerrar Relação <span class="sr-only">(current)</span></a>
                                                        </li>
                                                    </ul>
                                                    <!-- Links -->
                                                </div>
                                                <!-- Collapsible content -->
                                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent12"
                                                aria-controls="navbarSupportedContent12" aria-expanded="false" aria-label="Toggle navigation">
                                                    <span class="navbar-toggler-icon"></span>
                                                </button>
                                            </nav>
                                            <!--/.Navbar--> {% endcomment %}
                                            <form method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="chat_room_id" value="{{chat_room.id}}"/>
                                                <a onclick="this.parentNode.submit()" class="nav-link" href="#">
                                                    <span class="finish-chat">Encerrar Relação</span>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert {{ message.tags }}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="row p-0 m-0 vh-52">
                                        <div class="col h-100 message">
                                            <ul class="chatting-area" id="chat-text">
                                                {% for message in peoples_messages %}
                                                    <li class="{{message.type}}">
                                                        <p>{{message.context}}</p>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row p-0 m-0 vh-8">
                                        <div class="col message-text-container h-100 w-100 p-0">
                                            <div class="text-area">
                                                <textarea id="input-text"></textarea>
                                            </div>
                                            <button id="submit" title="send"><i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} Get data for username and chatbox name{% endcomment %}
    {{ user_id|json_script:"userId" }}
    {{ chat_room.id|json_script:"roomId" }}
    {{ chat_room.slug|json_script:"roomName" }}
{% endblock %}

{% block extra_js %}
    <script>
        const chat_text = document.querySelector('#chat-text');
        chat_text.scrollTop = chat_text.scrollHeight;

        const userId = JSON.parse(document.getElementById('userId').textContent);
        const chatRoomId = JSON.parse(document.getElementById('roomId').textContent);
        const chatRoomSlug = JSON.parse(document.getElementById('roomName').textContent);
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            chatRoomSlug +
            '/'
        );
        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };


        document.querySelector("#input-text").focus();
        document.querySelector("#input-text").onkeyup = function (e) {
          if (e.keyCode == 13 && !e.shiftKey && !e.altKey && !e.ctrlKey) {
            document.querySelector("#submit").click();
          }
        };
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input-text');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': userId,
                'chat_room_id': chatRoomId,
            }));
            messageInputDom.value = '';
        };


        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            
            if (data.user_id == userId) {
                chat_text.innerHTML += ('<li class="me"><p>' + data.message + '</p></li>');
            } else {
                chat_text.innerHTML += ('<li class="you"><p>' + data.message + '</p></li>');
            }
            chat_text.scrollTop = chat_text.scrollHeight;
        }
    </script>
    <script>
        function update(userName) {
            let params = new URLSearchParams(document.location.search);
            if (params.get("user")) {
                params.set("user", userName);
            } else {
                params.append("user", userName);
            }
            window.location.search = params.toString();
        }
    </script>
{% endblock %}
