{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
<div class="theme-layout">	
		
	<section>
		<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-eror">
							<div class="error-meta">
								<h1>whoops! 404</h1>
								<span>não conseguimos encontrar essa página </span>
								<a href="index-2.html" title="" data-ripple="">Voltar para ínicio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
	
	
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>

</body>	

</html>
{% endblock %}