{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
<div class="theme-layout">

	<section>
		<div class="gap-35 bluesh high-opacity">
			<div class="container-fluid">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>Sobre Nós</h1>
						</div>
					</div>
			</div>
		</div>
	</section><!-- top area animated -->
	
	<section>
		<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="about-winku">
							<h4>Bem vindo(a) ao Amigo Secreto!</h4>
							<span>Temos como missão ajudar a todos que estão passando por momentos difíceis,
								 por meio de ajuda psícologica especializada atráves de chat, de forma totalmente anônima e gratuita.</p>
							<div class="fonder">
								<h4>Ana Brunetti <i>fundadora</i></h4>
								<i>amigo secreto</i>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>


</div>	
	
	<script src="js/main.min.js"></script>
	<script src="js/strip.pkgd.min.js"></script>
	<script src="js/script.js"></script>

</body>	

</html>
{% endblock %}