{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Amigo Secreto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'website/css/site.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'website/css/main.min.css' %}" type="text/css" media="screen">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'website/js/jquery.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'website/js/main.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'website/js/site.js' %}" type="text/javascript" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>