{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="gray-bg">
	<div class="container-fluid" style="padding: 14.8vh 0;">
		<div class="row w-100 m-0">
			<div class="col-1 col-sm-2 col-lg-3 m-0 p-0"></div>
			<div class="col-10 col-sm-8 col-lg-6 m-0 p-0">
				<div class="central-meta m-0 p-0">
					<div class="editing-info">
						<h5 class="f-title">Editar Perfil</h5>
						<form method="POST">
							{% csrf_token %}

							<div class="row m-0">
								<div class="col-12 py-1">
									<!-- Username input -->
									<label class="form-label" for="{{ form.username.auto_id }}">Usuário</label>
									<input id="{{ form.username.auto_id }}" class="form-control  {% if form.username.errors %}error{% endif %}" type="text" name="{{ form.username.name }}" value="{{ form.username.value|default:'' }}" required disabled/>
									<span class="help-block">
										<ul class="m-0">
											{% for error in form.username.errors %} 
												<li>{{error}}</li>
											{% endfor %}
										</ul>
									</span>
								</div>

								<div class="col-6 py-1">
									<!-- Genero input -->
									<label class="form-label" for="{{ form.gender.auto_id }}">Gênero</label>
									{{form.gender}}
									<span class="help-block">
										<ul class="m-0">
											{% for error in form.gender.errors %} 
												<li>{{error}}</li>
											{% endfor %}
										</ul>
									</span>
								</div>
								

								<div class="col-6 py-1">
									<!-- Date of Birth input -->
									<label class="form-label" for="{{ form.date_of_birth.auto_id }}">Data de nascimento</label>
									{{ form.date_of_birth }}
									<span class="help-block">
										<ul class="m-0">
											{% for error in form.date_of_birth.errors %} 
												<li>{{error}}</li>
											{% endfor %}
										</ul>
									</span>
								</div>
						
								<div class="submit-btns">
									<button type="submit" class="mtr-btn"><span>Atualizar</span></button>
								</div>
							</div>
						</form>
						{% if messages %}
							{% for message in messages %}
								<div class="alert {{ message.tags }} mt-2" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					</div>					
				</div>	
			</div>
			<div class="col-1 col-sm-2 col-lg-3 m-0 p-0"></div>
		</div>	
	</div>
</section>
{% endblock %}
