{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="thema-login">
		<div class="container-fluid">
			<div class="row vh-100">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-left p-0">
					<div class="style-left">
						<div class="land">
							<h1>Amigo Secreto</h1>
							<p>
								Ajuda psicologica anonima.
							</p>
							<div class="friend-logo">
								<span><img src="{% static 'website/img/wink.png' %}" alt=""></span>
							</div>
							<a href="#">Siga-nos</a>
						</div>	
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-right p-0">
					<div class="login-reg-bg">
						<div class="login-reg-area">
							<h2><b>Login</b></h2>
							<br>
							<form>
								<!-- Username input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="loginUser">Usuário</label>
									<input type="username" id="loginUser" class="form-control"/>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="loginPassword">Senha</label>
									<input type="password" id="loginPassword" class="form-control"/>
								</div>
							  
								<!-- Submit button -->
								<button type="button" class="btn btn-primary btn-block mb-4">Login</button>
								<button type="button" class="btn btn-secundary btn-block mb-4">Registra-se</button>
							  </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
