{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="thema-login">
		<div class="container-fluid">
			<div class="row vh-100">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-left p-0">
					<div class="style-left">
						<div class="land">
							<h1>Amigo Secreto</h1>
							<p>
								Ajuda psicologica anonima.
							</p>
							<div class="friend-logo">
								<span><img src="{% static 'website/img/wink.png' %}" alt=""></span>
							</div>
							<a href="#">Siga-nos</a>
						</div>	
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-right p-0">
					<div class="login-reg-bg">
						<div class="login-reg-area">
							<h2><b>Inscrever-se</b></h2>
							<br>
							<form method="POST">
								{% csrf_token %}
								<!-- Username input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="id_username">Usuário</label>
									<input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"/>
								</div>

								<!-- Date of Birth input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="id_date_of_birth">Data de nascimento</label>
									<input class="form-control" type="date" name="date_of_birth" autofocus="" autocapitalize="none" autocomplete="date_of_birth" id="id_date_of_birth"/>
								</div>

								<!-- Genero input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="id_gender">Gênero</label>
									<select class="form-control" select name="gender" id="id_gender">
										<option value="" selected>---------</option>
										<option value="male">Masculino</option>
										<option value="female">Feminino</option>
										<option value="other">Outros</option>
									</select>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="id_password1">Senha</label>
									<input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1">
								</div>

								<!-- Repeat Password input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="id_password2">Confirmação de senha</label>
									<input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2"/>
								</div>
							  
								<!-- Submit button -->
								<button type="submit" class="btn btn-primary btn-block mb-4">Registra-se</button>
								<button type="button" class="btn btn-secundary btn-block mb-4"><a href="{% url 'login' %}">Login</a></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
