{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="theme-layout">
	<section>
		<div class="gray-bg" style="padding: 11vh 0;">
			<div class="container-fluid">
				<div class="row w-100 m-0">
					<div class="col-1 col-sm-2 col-lg-3 m-0 p-0">
					</div>
					<div class="col-10 col-sm-8 col-lg-6 m-0 p-0">
						<div class="central-meta m-0 p-0">
							<div class="editing-info">
								<h5 class="f-title"><i class="ti-lock"></i>Mudar Senha</h5>
								
								<form method="POST">
									{% csrf_token %}
									<div class="form-group">	
										<input type="password" required="required" name="new_password1" autocomplete="new-password" id="id_new_password1"/>
										<label class="control-label" for="id_new_password1">Nova Senha</label><i class="mtrl-select"></i>
									</div>
									<div class="form-group">	
										<input type="password" required="required" name="new_password2" autocomplete="new-password" id="id_new_password2"/>
										<label class="control-label" for="id_new_password2">Confirmar Senha</label><i class="mtrl-select"></i>
									</div>
									<div class="form-group">	
										<input type="password" required="required" name="old-password" autocomplete="current-password" id="id_old_password"/>
										<label class="control-label" for="id_old_password">Senha Atual</label><i class="mtrl-select"></i>
									</div>
									<a class="forgot-pwd underline" title="" href="#">Esqueceu a senha?</a>
									<div class="submit-btns">
										<button type="reset" class="mtr-btn"><span>Cancelar</span></button>
										<button type="submit" class="mtr-btn"><span>Atualizar</span></button>
									</div>
								</form>
							</div>
						</div>	
					</div>
					<div class="col-1 col-sm-2 col-lg-3 m-0 p-0">
					</div>
				</div>	
			</div>
		</div>	
	</section>
</div>
{% endblock %}