{% extends "base.html" %}
{% load i18n static %}

{% load static %}

{% block content %}
<section class="gray-bg">
	<div class="container-fluid" style="padding: 14.8vh 0;">
		<div class="row w-100 m-0">
			<div class="col-1 col-sm-2 col-lg-3 m-0 p-0">
			</div>
			<div class="col-10 col-sm-8 col-lg-6 m-0 p-0">
				<div class="central-meta m-0 p-0">
					<div class="editing-info">
						<h5 class="f-title"><i class="ti-lock"></i>Mudar Senha</h5>
						
						<form method="POST">
							{% csrf_token %}
							{% if form.errors %}
								<p class="errornote">
								{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
								</p>
							{% endif %}
							<div class="form-group">
								{{ form.new_password1 }}
								<label class="control-label" for="{{ form.new_password1.auto_id }}">Nova Senha</label><i class="mtrl-select"></i>
							</div>
							{% if form.new_password1.errors %}
								<span class="help-block">
									<ul class="m-0">
										{% for error in form.new_password1.errors %} 
											<li>{{error}}</li>
										{% endfor %}
									</ul>
								</span>
							{% endif %}
							{% if form.new_password1.help_text %}
								<div class="help">{{ form.new_password1.help_text|safe }}</div>
							{% endif %}
							<div class="form-group">
								{{ form.new_password2 }}	
								<label class="control-label" for="{{ form.new_password2.auto_id }}">Confirmar Senha</label><i class="mtrl-select"></i>
							</div>
							{% if form.new_password2.errors %}
								<span class="help-block">
									<ul class="m-0">
										{% for error in form.new_password2.errors %} 
											<li>{{error}}</li>
										{% endfor %}
									</ul>
								</span>
							{% endif %}
							{% if form.new_password2.help_text %}
								<div class="help">{{ form.new_password2.help_text|safe }}</div>
							{% endif %}
							<div class="form-group">
								{{ form.old_password }}
								<label class="control-label" for="{{ form.old_password.auto_id }}">Senha Atual</label><i class="mtrl-select"></i>
								{% if form.old_password.errors %}
									<span class="help-block">
										<ul class="m-0">
											{% for error in form.old_password.errors %} 
												<li>{{error}}</li>
											{% endfor %}
										</ul>
									</span>
								{% endif %}
							</div>
							<a class="forgot-pwd underline" title="" href="#">Esqueceu a senha?</a>
							<div class="submit-btns">
								<button type="reset" class="mtr-btn"><span>Cancelar</span></button>
								<button type="submit" class="mtr-btn"><span>Atualizar</span></button>
							</div>
						</form>
						{% if messages %}
							{% for message in messages %}
								<div class="alert {{ message.tags }}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>	
			</div>
			<div class="col-1 col-sm-2 col-lg-3 m-0 p-0">
			</div>
		</div>	
	</div>
</section>
{% endblock %}