{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
<div class="theme-layout">
	<section>
		<div class="gap-60 col-12-lg-8 no-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-10">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-lock"></i>Mudar Senha</h5>
										
										<form method="POST">
											{% csrf_token %}
											<div class="form-group">	
												<input type="password" required="required" name="new_password1" autocomplete="new-password" id="id_new_password1"/>
												<label class="control-label" for="id_new_password1">Nova Senha</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group">	
												<input type="password" required="required" name="new_password2" autocomplete="new-password" id="id_new_password2"/>
												<label class="control-label" for="id_new_password2">Confirmar Senha</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group">	
												<input type="password" required="required" name="old-password" autocomplete="current-password" id="id_old_password"/>
												<label class="control-label" for="id_old_password">Senha Atual</label><i class="mtrl-select"></i>
											</div>
											<a class="forgot-pwd underline" title="" href="#">Esqueceu a senha?</a>
											<div class="submit-btns">
												<button type="reset" class="mtr-btn"><span>Cancelar</span></button>
												<button type="submit" class="mtr-btn"><span>Atualizar</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-3">
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>

</body>	

</html>
{% endblock %}