@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
.thema-login a {
  text-decoration: none;
}
.thema-login .row-left {
  background-color: #1fb6ff;
  height: 100vh;
}
.thema-login .row-left a {
  color: inherit;
}
.thema-login .row-left .style-left {
  color: #FFF;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
}
.thema-login .row-left .style-left .land {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.thema-login .row-right .login-reg-bg {
  background: #f4f7f6;
  float: left;
  height: 100vh;
  position: relative;
  width: 100%;
}
.thema-login .row-right .login-reg-bg .login-reg-area {
  width: 80%;
  background: #FFF;
  box-shadow: 0 0 35px #e2e2e2;
  display: block;
  float: none;
  left: 50%;
  padding: 25px 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab {
  overflow: hidden;
  border: 1px solid #f4f7f6;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #f4f7f6;
  padding: 6px 12px;
  border-top: none;
}

.help-block {
  color: #dc3545;
}

.error {
  border: 1px solid #dc3545 !important;
}

.disabled {
  background-color: #e9ecef;
  opacity: 1;
}