{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Amigo Secreto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'website/css/site.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'website/css/main.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'website/css/color.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" type="text/css" media="screen">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> {% endcomment %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="vh-8-5">
        <div class="topbar stick">
            <div class="row">
                <div class="col-2 text-center p-10">
                    <div class="logo">
                        <a title="" href="newsfeed.html"><img src={% static 'website/img/logo.png' %} alt=""></a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="top-area">
                        <ul class="main-menu">
                            <li class="after">
                                <a href="#" title="">Configurações da Conta</a>
                                <ul>
                                    <li><a href="{% url 'password_change' %}" title="">Editar Password</a></li>
                                    <li><a href="edit-profile.html" title="">Editar Perfil</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'about' %}" title="">Sobre nós</a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}" title="">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="logout">
                        <a href="{% url 'logout' %}">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid p-0">
        {% block content %}{% endblock content %}
    </div>

    <footer class="vh-5">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="widget">
                        <p class="m-0">
                            Copyright © 2022 - Amigo Secreto. <a href="{% url 'terms' %}">  <b>Termos de Uso</b></a>
                        </p>
					</div>
				</div>
			</div>
		</div>
	</footer>

    <script src="{% static 'website/js/jquery.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'website/js/script.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'website/js/main.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'website/js/site.js' %}" type="text/javascript" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
