{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="row h-100 w-100 p-0 m-0">
		<div class="col-lg-12 p-0">
				<div class="central-meta">
					<div class="messages h-100">
						<div class="row h-100 w-100 p-0 m-0">
							<div class="col-3 conversations p-10">
								<div class="row h-15 w-100 p-0 m-0">
									<h5 class="f-title m-0">Conversas</h5>
								</div>
								<div class="row h-85 w-100 p-0 m-0">
									<ul class="peoples w-100 m-0">
										<li class="h-100">
											<div class="people-name">
												<span><b>Molly cyrus</b></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-9 message-box p-10">
								<div class="peoples-mesg-box h-100 w-100 p-0">
									<div class="row p-0 m-0 h-10">
										<div class="conversation-head">
											<span>jason bourne </span>
										</div>
									</div>
									<div class="row p-0 m-0 h-70">
										<ul class="chatting-area">
											<li class="you">
												<p>what's liz short for? :)</p>
											</li>
											<li class="me">
												<p>Elizabeth lol</p>
											</li>
										</ul>
									</div>
									<div class="row p-0 m-0 h-20">
										<div class="message-text-container h-100 w-100">
											<form method="post">
												<div class="text-area">
													<textarea></textarea>
												</div>
												<button title="send"><i class="fa fa-paper-plane"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
